.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.all-recipes {
    cursor: pointer;
    color: #007bff;
}

.recipe-title {
    font-size: 32px;
}

.details {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
}

.section-title {
    font-size: 18px;
}

.recipe {
    overflow-y: auto;
}

.recipe-video {
    margin-bottom: 16px;
}

.video {
    height: 400px;
    width: 100%;
}

.ingredients-list {
    padding-left: 15px;
}
